@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth font-poppins;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  
  /* Scrollbar styling - Webkit */
  ::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(148, 197, 253, 0.3);
  }

  ::-webkit-scrollbar:hover {
    background: rgba(219, 234, 254, 0.1);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 197, 253, 0.5);
  }

  /* Scrollbar styling - Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(111 180 255 / 67%) transparent
  }

  *:hover {
    scrollbar-color: rgba(148, 197, 253, 0.5) rgba(219, 234, 254, 0.1);
  }

  body {
    @apply bg-gray-50 text-gray-800 font-poppins;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 transition-colors duration-200;
  }

  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 text-white;
  }

  .btn-outline {
    @apply border border-primary-500 text-primary-500 hover:bg-primary-50;
  }

  .container {
    @apply px-4 mx-auto;
  }

  .section {
    @apply py-12 md:py-20;
  }
}